@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

:root {
  font-size: 10px;
}

html {
  scroll-behavior: smooth;
  background-color: #000;
}

body.no-scroll {
  overflow: hidden;
}

.container {
  width: 79.2%;
  max-width: 1140px;
  margin: 0 auto;
}

.row {
  display: flex;
  width: 100%;
}

@media (max-width: 992px) {
  .header {
    padding-top: 0;
    margin-top: 0;
    position: sticky;
    z-index: 9999;
    top: 0;
    left: 0;
  }
  .header .container .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .header .container .row #hamburger {
    display: block;
  }
  .header .container .row .side_nav {
    display: none;
    height: 100%;
    width: 100%;
    transition: top 0.3s ease;
    background-color: #000;
  }
  .header .container .row .side_nav .nav_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.6rem;
    font-weight: 300;
  }
  .header .container .row .side_nav .nav_list .nav_item {
    padding: 0;
  }
  .header .container .row .side_nav .nav_list .nav_item a {
    font-size: 1.6rem;
  }
  .header .container .row .nav.side-nav.active {
    display: block;
  }
}
.header .container .row {
  justify-content: space-between;
  align-items: center;
}
.header .container .row .logo {
  font-size: 2.4rem;
  font-weight: 900;
}
.header .container .row .logo a {
  color: #fff;
}
.header .container .row .nav .close_btn {
  display: none;
}
.header .container .row .nav .nav_list {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  font-weight: 400;
}
.header .container .row .nav .nav_list .nav_item {
  padding: 1.7rem 2rem;
}
.header .container .row .nav .nav_list .nav_item.nav_active a {
  color: #FFBD39;
}
.header .container .row .nav .nav_list .nav_item a {
  position: relative;
  color: #fff;
  transition: all ease 0.3s;
}
.header .container .row .nav .nav_list .nav_item a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: #FFBD39;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  transform-origin: center;
  transform: scale(0);
  transform-origin: center;
}
.header .container .row .nav .nav_list .nav_item a:hover::after {
  opacity: 1;
  transform: scale(1);
}
.header .container .row .hamburger {
  font-size: 2rem;
  padding: 1.2rem;
  cursor: pointer;
  display: none;
  color: #fff;
}

.hero {
  height: 100vh;
  width: 100%;
}
.hero .container .hero_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.hero .container .hero_content .hero_left {
  width: 42.5%;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.hero .container .hero_content .hero_left .hero_suptitle {
  font-size: 1.4rem;
  font-weight: 600;
  color: #FFBD39;
}
.hero .container .hero_content .hero_left .hero_title {
  width: 100%;
  font-size: 6rem;
  font-weight: 800;
  line-height: 7.2rem;
  color: #fff;
}
.hero .container .hero_content .hero_left .hero_title span {
  color: #FFBD39;
}
.hero .container .hero_content .hero_left .hero_subtitle {
  font-size: 3rem;
  font-weight: 400;
  color: #fff;
}
.hero .container .hero_content .hero_left .hero_btns {
  display: flex;
  gap: 0.5rem;
}
.hero .container .hero_content .hero_left .hero_btns .hero_btn {
  background-color: #FFBD39;
  color: #000;
  border-radius: 4rem;
  padding: 1.6rem 2.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
  line-height: 18px;
  letter-spacing: 2px;
  transition: all 0.3s;
  border: 1px solid transparent;
  cursor: pointer;
}
.hero .container .hero_content .hero_left .hero_btns .hero_btn:hover {
  background-color: #000;
  color: #FFBD39;
  border: 1px solid #FFBD39;
}
.hero .container .hero_content .hero_left .hero_btns .hero_btn.btn_secondary {
  background-color: #000;
  color: #fff;
  border-radius: 4rem;
  padding: 1.6rem 2.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
  line-height: 18px;
  letter-spacing: 2px;
  transition: all 0.3s;
  border: 1px solid transparent;
  cursor: pointer;
  border: 1px solid grey;
}
.hero .container .hero_content .hero_left .hero_btns .hero_btn.btn_secondary:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}
.hero .container .hero_content .hero_right {
  width: 57.5%;
}
.hero .container .hero_content .hero_right .hero_img img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.about {
  position: relative;
}
.about .about_bg_title {
  font-size: 10rem;
  font-weight: 900;
  position: absolute;
  z-index: -1;
  top: 1rem;
  left: 48.5%;
  color: rgba(255, 255, 255, 0.062745098);
}
.about .container .row {
  gap: 2rem;
}
.about .container .row .about_image {
  width: 45%;
}
.about .container .row .about_image img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.about .container .row .about_content {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}
.about .container .row .about_content .about_title {
  font-size: 5rem;
  font-weight: 700;
  color: #fff;
}
.about .container .row .about_content .about_subtitle {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.9rem;
  color: #979797;
}
.about .container .row .about_content .about_info {
  display: flex;
  gap: 2.5rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.9rem;
  color: #fff;
}
.about .container .row .about_content .about_info .about_info_list {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.about .container .row .about_content .about_info .about_info_list_desc {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.about .container .row .about_content .about_info .about_info_list_desc .about_info_item {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.9rem;
  color: #999999;
}
.about .container .row .about_content .about_info .about_info_list_desc .about_info_item a {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.9rem;
  color: #999999;
}
.about .container .row .about_content .about_info .about_info_list_desc .about_info_item a:hover {
  color: #fff;
}
.about .container .row .about_content .about_project {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  line-height: 3.6rem;
}
.about .container .row .about_content .about_project span {
  color: #FFBD39;
}
.about .container .row .about_content .hero_btns .hero_btn {
  background-color: #FFBD39;
  color: #000;
  border-radius: 4rem;
  padding: 1.6rem 2.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
  line-height: 18px;
  letter-spacing: 2px;
  transition: all 0.3s;
  border: 1px solid transparent;
  cursor: pointer;
}
.about .container .row .about_content .hero_btns .hero_btn:hover {
  background-color: #000;
  color: #FFBD39;
  border: 1px solid #FFBD39;
}
.about .container .row .about_content .hero_btns .hero_btn.btn_secondary {
  background-color: #000;
  color: #fff;
  border-radius: 4rem;
  padding: 1.6rem 2.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
  line-height: 18px;
  letter-spacing: 2px;
  transition: all 0.3s;
  border: 1px solid transparent;
  cursor: pointer;
}
.about .container .row .about_content .hero_btns .hero_btn.btn_secondary:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.resume {
  position: relative;
  padding-top: 8rem;
  padding-bottom: 12.8rem;
}
.resume .resume_bg_title {
  font-size: 10rem;
  font-weight: 900;
  position: absolute;
  z-index: -1;
  top: 9rem;
  left: 42%;
  color: rgba(255, 255, 255, 0.062745098);
}
.resume .container .row {
  flex-direction: column;
  align-items: center;
  gap: 6rem;
}
.resume .container .row .resume_title {
  font-size: 5rem;
  font-weight: 700;
  color: #fff;
}
.resume .container .row .resume_subtitle {
  max-width: 90rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.9rem;
  color: #979797;
}
.resume .container .row .resume_wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 3rem;
}
.resume .container .row .resume_wrap .resume_box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 48.5%;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.062745098);
  padding: 3.5rem 4rem 5rem 3rem;
}
.resume .container .row .resume_wrap .resume_box .resume_box_year {
  color: #FFBD39;
  font-size: 2.6rem;
  font-weight: 900;
  line-height: 4.7rem;
}
.resume .container .row .resume_wrap .resume_box .resume_box_title {
  color: #fff;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 3.9rem;
}
.resume .container .row .resume_wrap .resume_box .resume_box_subtitle {
  color: #979797;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 2.2rem;
}
.resume .container .row .resume_wrap .resume_box .resume_box_desc {
  color: #979797;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.9rem;
}
.resume .container .row .resume_btn {
  background-color: #FFBD39;
  color: #000;
  border-radius: 4rem;
  padding: 1.6rem 2.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
  line-height: 18px;
  letter-spacing: 2px;
  transition: all 0.3s;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 2.5rem 5rem;
}
.resume .container .row .resume_btn:hover {
  background-color: #000;
  color: #FFBD39;
  border: 1px solid #FFBD39;
}

.services {
  position: relative;
  padding-top: 8rem;
  padding-bottom: 12.8rem;
}
.services .services_bg_title {
  font-size: 10rem;
  font-weight: 900;
  position: absolute;
  z-index: -1;
  top: 9rem;
  left: 42%;
  color: rgba(255, 255, 255, 0.062745098);
}
.services .container .row {
  flex-direction: column;
  align-items: center;
  gap: 6rem;
}
.services .container .row .services_title {
  font-size: 5rem;
  font-weight: 700;
  color: #fff;
}
.services .container .row .services_subtitle {
  max-width: 90rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.9rem;
  color: #979797;
}
.services .container .row .services_wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 3rem;
}
.services .container .row .services_wrap .services_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 31.5%;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.062745098);
  padding-top: 3.2rem;
  padding-bottom: 6.5rem;
  transition: all 0.3s ease;
  cursor: pointer;
}
.services .container .row .services_wrap .services_box .services_box_title {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.7rem;
  letter-spacing: 0.3rem;
}
.services .container .row .services_wrap .services_box .services_box_ul {
  width: 3rem;
  height: 0.1rem;
  background-color: #FFBD39;
}
.services .container .row .services_wrap .services_box:hover {
  background-color: #FFBD39;
  transition: all 0.3s ease;
}
.services .container .row .services_wrap .services_box:hover .services_box_image {
  height: 100%;
  border-radius: 50%;
  background-color: #000;
}
.services .container .row .services_wrap .services_box:hover .services_box_image img {
  color: #fff;
}
.services .container .row .services_wrap .services_box:hover .services_box_title {
  color: #000;
}
.services .container .row .services_wrap .services_box:hover .services_box_ul {
  background-color: #000;
  transition: all 0.3s ease;
}

.footer .container .row {
  flex-direction: column;
}
.footer .container .row .footer_wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;
}
.footer .container .row .footer_wrap .footer_content {
  display: flex;
  flex-direction: column;
  width: 22%;
  gap: 4.2rem;
}
.footer .container .row .footer_wrap .footer_content .footer_title {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 3.3rem;
}
.footer .container .row .footer_wrap .footer_content .footer_subtitle {
  color: #999999;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.9rem;
}
.footer .container .row .footer_wrap .footer_content .footer_social {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.footer .container .row .footer_wrap .footer_content .footer_social .footer_social_item {
  min-width: 5rem;
  min-height: 5rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.062745098);
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .container .row .footer_wrap .footer_content {
  display: flex;
  flex-direction: column;
  width: 22%;
  gap: 4.2rem;
}
.footer .container .row .footer_wrap .footer_content .nav .nav_list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.footer .container .row .footer_wrap .footer_content .nav .nav_list .nav_item {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.footer .container .row .footer_wrap .footer_content .nav .nav_list .nav_item a {
  color: #999999;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.9rem;
  transition: all 0.3s ease;
}
.footer .container .row .footer_wrap .footer_content .nav .nav_list .nav_item a:hover {
  color: #fff;
  transition: all 0.3s ease;
}
.footer .container .row .footer_wrap .footer_content {
  display: flex;
  flex-direction: column;
  width: 22%;
  gap: 4.2rem;
}
.footer .container .row .footer_wrap .footer_content .services_list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.footer .container .row .footer_wrap .footer_content .services_list .services_item {
  display: flex;
  gap: 0.8rem;
}
.footer .container .row .footer_wrap .footer_content .services_list .services_item p {
  color: #999999;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.9rem;
  white-space: nowrap;
}
.footer .container .row .footer_wrap .footer_content {
  display: flex;
  flex-direction: column;
  width: 22%;
  gap: 4.2rem;
}
.footer .container .row .footer_wrap .footer_content .footer_contact {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.footer .container .row .footer_wrap .footer_content .footer_contact .footer_contact_item {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.footer .container .row .footer_wrap .footer_content .footer_contact .footer_contact_item a {
  color: #999999;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}
.footer .container .row .footer_copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  color: #999999;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.grid_gallery {
  margin: 80px auto;
  background-image: url("https://picsum.photos/id/3/5000/3333");
}
.grid_gallery .container .grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas: "area1 area1 area1 area1 area1 area1 " "area2 area2 area2 area3 area3 area3" "area4 area4 area5 area5 area6 area6" "area7 area7 area8 area9 area10 area10" "area11 area12 area13 area13 area14 area15" "area16 area17 area18 area19 area20 area21";
  gap: 6px;
}
.grid_gallery .container .grid-container img {
  width: 100%;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}
.grid_gallery .container .grid-container img:nth-child(1) {
  grid-area: area1;
}
.grid_gallery .container .grid-container img:nth-child(2) {
  grid-area: area2;
}
.grid_gallery .container .grid-container img:nth-child(3) {
  grid-area: area3;
}
.grid_gallery .container .grid-container img:nth-child(4) {
  grid-area: area4;
}
.grid_gallery .container .grid-container img:nth-child(5) {
  grid-area: area5;
}
.grid_gallery .container .grid-container img:nth-child(6) {
  grid-area: area6;
}
.grid_gallery .container .grid-container img:nth-child(7) {
  grid-area: area7;
}
.grid_gallery .container .grid-container img:nth-child(8) {
  grid-area: area8;
}
.grid_gallery .container .grid-container img:nth-child(9) {
  grid-area: area9;
}
.grid_gallery .container .grid-container img:nth-child(10) {
  grid-area: area10;
}
.grid_gallery .container .grid-container img:nth-child(11) {
  grid-area: area11;
}
.grid_gallery .container .grid-container img:nth-child(12) {
  grid-area: area12;
}
.grid_gallery .container .grid-container img:nth-child(13) {
  grid-area: area13;
}
.grid_gallery .container .grid-container img:nth-child(14) {
  grid-area: area14;
}
.grid_gallery .container .grid-container img:nth-child(15) {
  grid-area: area15;
}
.grid_gallery .container .grid-container img:nth-child(16) {
  grid-area: area16;
}
.grid_gallery .container .grid-container img:nth-child(17) {
  grid-area: area17;
}
.grid_gallery .container .grid-container img:nth-child(18) {
  grid-area: area18;
}
.grid_gallery .container .grid-container img:nth-child(19) {
  grid-area: area19;
}
.grid_gallery .container .grid-container img:nth-child(20) {
  grid-area: area20;
}
.grid_gallery .container .grid-container img:nth-child(21) {
  grid-area: area21;
}/*# sourceMappingURL=index.css.map */