@use "../variables";

.footer {
  .container {
    .row {
      flex-direction: column;
      .footer_wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 3rem;

        .footer_content {
          display: flex;
          flex-direction: column;
          width: 22%;
          gap: 4.2rem;
          .footer_title {
            color: variables.$white;
            font-size: 2.2rem;
            font-weight: 600;
            line-height: 3.3rem;
          }

          .footer_subtitle {
            color: variables.$grey999;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.9rem;
          }

          .footer_social {
            display: flex;
            align-items: center;
            gap: 2rem;
            .footer_social_item {
              min-width: 5rem;
              min-height: 5rem;
              border-radius: 50%;
              background-color: variables.$lightBlack;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
        .footer_content {
          display: flex;
          flex-direction: column;
          width: 22%;
          gap: 4.2rem;
          .nav {
            .nav_list {
              display: flex;
              flex-direction: column;
              gap: 1.2rem;
              .nav_item {
                display: flex;
                align-items: center;
                gap: 0.8rem;
                a {
                  color: variables.$grey999;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 2.9rem;
                  transition: all 0.3s ease;
                }

                a:hover {
                  color: variables.$white;
                  transition: all 0.3s ease;
                }
              }
            }
          }
        }
        .footer_content {
          display: flex;
          flex-direction: column;
          width: 22%;
          gap: 4.2rem;
          .services_list {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
            .services_item {
              display: flex;
              gap: 0.8rem;
              p {
                color: variables.$grey999;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 2.9rem;
                white-space: nowrap;
              }
            }
          }
        }
        .footer_content {
          display: flex;
          flex-direction: column;
          width: 22%;
          gap: 4.2rem;
          .footer_contact {
            display: flex;
            flex-direction: column;
            gap: 1.6rem;

            .footer_contact_item {
              display: flex;
              align-items: center;
              gap: 2.5rem;

              a {
                color: variables.$grey999;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 2.4rem;
              }
            }
          }
        }
      }
      .footer_copyright {
        display: flex; 
        justify-content: center;
        align-items: center;
        padding: 3rem;
        color: variables.$grey999;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.4rem;
      }
    }
  }
}
