@use "../variables";
@use "../mixins";

@media (max-width: 992px) {
  .header {
    padding-top: 0;
    margin-top: 0;
    position: sticky;
    z-index: 9999;
    top: 0;
    left: 0;
    .container {
      .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        #hamburger {
          display: block;
        }
        .side_nav {
          display: none;
          height: 100%;
          width: 100%;
          transition: top 0.3s ease;
          background-color: variables.$black;

          .nav_list {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 2.6rem;
            font-weight: 300;
            .nav_item {
              padding: 0;
              a {
                font-size: 1.6rem;
              }
            }
          }
        }
        .nav.side-nav.active {
          display: block;
        }
      }
    }
  }
}

.header {
  .container {
    .row {
      justify-content: space-between;
      align-items: center;
      .logo {
        font-size: 2.4rem;
        font-weight: 900;
        a {
          color: variables.$white;
        }
      }
      .nav {
        .close_btn {
          display: none;
        }
        .nav_list {
          display: flex;
          justify-content: space-between;
          font-size: 1.6rem;
          font-weight: 400;
          .nav_item {
            padding: 1.7rem 2rem;
            &.nav_active {
              a {
                color: variables.$orange;
              }
            }
            a {
              position: relative;
              color: variables.$white;
              transition: all ease 0.3s;
            }

            a::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 0.2rem;
              background-color: variables.$orange;
              opacity: 0;
              transition: opacity 0.3s, transform 0.3s;
              transform-origin: center;
              transform: scale(0);
              transform-origin: center;
            }

            a:hover::after {
              opacity: 1;
              transform: scale(1);
            }
          }
        }
      }
      .hamburger {
        font-size: 2rem;
        padding: 1.2rem;
        cursor: pointer;
        display: none;
        color: variables.$white;
      }
    }
  }
}
